.templates-list {
  padding: 20px;

  &__spinner {
    margin-top: 30%;
  }

  &__container {
    display: flex;
  }

  .list-container {
    flex: 2;
    margin-right: 20px;
  }

  .form-container {
    flex: 1;
  }
}
