.template {
  &-control {
    margin: 20px 0;
  }

  &-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &-block {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    &-instance {
      flex: 1;
    }

    &-remove {
      margin-left: 16px;
    }
  }
}
