.generator {
  &-container {
    display: flex;
    height: calc(100% - 50px);
  }

  &-library {
    flex: 2;
    padding: 16px;
    height: 100%;
    overflow: scroll;
  }

  &-document {
    flex: 2;
    padding: 16px;
  }
}
